<!--<div class="list-container">
  <div class="col-md-8">
  -->   
          <table>
              <thead>
                  <tr>
                      <th colspan=5>Movie</th>
                      <th colspan=10>Synopsis</th>
                      <th colspan=5>Genre</th>
                      <th colspan=5>Showtimes</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let m of movies">
                      <td colspan=5>{{m.name}}</td>
                      <td colspan=10>{{m.synopsis}}</td>
                      <td colspan=5>{{m.genre.name}}</td>
                      <td colspan=5><button class="btn btn-link" (click)="clickMovieShowtimes(m.id)">Show</button></td>
                  </tr>
              </tbody>
          </table>
  
 <!-- </div>
  </div>
  -->