<div class="row">
  <div class="col-md-8">
      <table class="table">
          <tr>
              <th>Title</th>
              <th>Synopsis</th>
              <th>Genre</th>
              <th>Showtime</th>
              <th>Action</th>
          </tr>
          <tr *ngFor="let m of movies">
              <td>{{m.name}}</td>
              <td>{{m.synopsis}}</td>
              <td>{{m.genre}}</td>
              <td>{{m.showtime}}</td>
              <td><button class="btn btn-primary" (click)="edit(c)">edit</button></td>
          </tr>
      </table>
 