<!-- Bootstrap -->
<div class="conttainer">
  <button class="btn btn-link" (click)="showHome()">Home</button>
  <button class="btn btn-link" (click)="addMoviePage()">Add</button>
</div>
    <!--<div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="isLoggedIn()"><a href="" (click)="logOut()">logout</a></li>
      </ul>
    </div>-->
<br>
<br>
<br>
<div class="container theme-showcase" role="main">    
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Cinama Paradiso</h1>
    <p>Best cinema ever!</p>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>